@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{	margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ol, ul{list-style:none}
blockquote, q{	quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';	content:none}
body{font:75%/1.5em "Microsoft YaHei", sans-serif;text-align:center;color:#333;background:url(../images/bg_body.png) repeat-x left bottom}
a{	color:#444;	text-decoration:none}
a:hover{color:#2284E2;text-decoration:none}
input{	border:none;padding:0}
p{	line-height:1.5em}
.show{display:block}
.hide{display:none}
.clear{clear:both}
.clearfix{*zoom:1} /* For IE 6/7 */
.clearfix:before, .clearfix:after{	display:table;content:""}
.clearfix:after{clear:both}
.fl{float:left}
.fr{float:right}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.page{padding:20px}
.page a{padding:7px 11px;margin:2px;border:#6d95ae 1px solid;color:#1b6d9d}
.page a:hover,.page a:active{border:#1b6d9d 1px solid;color:#111;text-decoration:none}
.page span.on{padding:7px 13px;margin:2px;FONT-WEIGHT:bold;border:#6d95ae 1px solid;color:#fff;background-color:#1b6d9d}
.page span.disabled{padding:7px 11px;margin:2px;border:#ddd 1px solid;color:#ccc}
.path{padding-left:36px;height:40px;line-height:40px;text-align:left;color:#1b6d9d;background:#f9f9f8}
.path a{color:#1b6d9d}
.warp{background:url(../images/bg_head.png) repeat-x}
.main{margin:0 auto;width:1000px}
.index{position:relative;overflow:hidden;background:url(../images/bg_1.png) repeat-y}
.index .border{position:absolute;left:0;top:0;width:1000px;height:2px;background:#0090c6}
.left{width:735px}
.left2{width:500px}
.right{width:250px}
.right2{width:225px}
.right2 img{padding:1px 4px 4px 1px;width:220px;height:200px;background:url(../images/bg_img.png) no-repeat}
/* ---------- Header ---------- */
.header{margin:0 auto;width:1000px;height:160px}
.header .top{height:33px;line-height:33px}
.header .mid .logo{float:left;padding:23px 0 21px 11px}
.header .mid .sear{padding:26px 0 0 26px}
.header .mid .sear .int{padding-left:3px;width:300px;height:31px;line-height:31px;vertical-align:middle;border:solid 1px #ddd;border-right:none}
.header .mid .sear .btn{width:65px;height:33px;vertical-align:middle;cursor:pointer;border:none;background:url(../images/icon.png) no-repeat}
.header .mid .sear .btn:hover{background-position:-66px 0}
.header .bot{position:relative;z-index:3;height:43px;background:#2774a2}
.header .bot .cate{position:absolute;left:0;width:160px;height:43px;line-height:43px;font-size:14px;color:#fff;background:#1b6d9d}
.header .bot .nav ul{padding:2px 0 0 160px}
.header .bot .nav ul li{float:left;padding:0 28px;line-height:41px;font-size:14px}
.header .bot .nav ul li a{color:#fff}
.header .bot .nav ul li a:hover{color:#b1d1f1}
.header .bot .nav ul li.on{background:#f9f9f8}
.header .bot .nav ul li.on a{color:#555}

.categorys{position:absolute;z-index:4;left:0;top:41px;width:156px;height:307px;border:solid 2px #1b6d9d;background:#fff}
.categorys ul{padding-top:5px}
.categorys li{position:relative;height:27px;line-height:27px;font-size:14px}
.categorys li a{color:#1b6d9d}
.categorys li ul{display:none}
.categorys li.on>a{position:absolute;z-index:10;left:2px;top:-2px;padding:2px 0 0 2px;width:148px;height:32px;background:url(../images/bg_cateLi.png) no-repeat}
.categorys li.on ul{display:block;position:absolute;z-index:9;left:150px;padding:5px 10px;width:320px;height:297px;background:url(../images/bg_cateUl.png) no-repeat}
.categorys li.on li{float:left;padding:1px 0;width:25%;font-size:12px;border-bottom:solid 1px #eee;background:url(../images/icon.png) no-repeat -70px -37px}
.categorys li.on li.on a{position:static;padding:0;color:#2284E2;background:none}
.categorys li.s0 ul{top:-2px}
.categorys li.s1 ul{top:-29px}
.categorys li.s2 ul{top:-56px}
.categorys li.s3 ul{top:-83px}
.categorys li.s4 ul{top:-110px}
.categorys li.s5 ul{top:-137px}
.categorys li.s6 ul{top:-164px}
.categorys li.s7 ul{top:-191px}
.categorys li.s8 ul{top:-218px}
.categorys li.s9 ul{top:-245px}
.categorys li.s10 ul{top:-272px}

.sub{padding:9px;text-align:left;border:solid 1px #ddd}
.sub p{padding:0 0 8px 9px;font-size:14px;color:#1b6d9d}
.sub li{float:left;padding-left:1.5%;width:11%;line-height:1.75}
.sub li.on a{color:#1b6d9d}
/* ---------- Footer ---------- */
.footer{margin:0 auto;width:1000px}
.footer .top{height:210px}
.footer .top h4{padding-bottom:18px;text-align:left;color:#808080}
.footer .top .logo{float:left;padding:55px 25px 85px 17px;border-right:solid 1px #e0e0e0}
.footer .top .tool{float:left;padding:25px 25px 0 25px;width:200px;height:185px;border-right:solid 1px #e0e0e0}
.footer .top .tool li{float:left;width:99px;height:24px;text-align:left}
.footer .top .info{float:left;padding:25px 25px 0 25px;width:220px;height:185px;border-right:solid 1px #e0e0e0}
.footer .top .info li{float:left;width:72px;height:24px;text-align:left}
.footer .top .sear{float:left;padding:50px 25px 0 25px;text-align:left}
.footer .top .sear .lnk a{float:left;margin-right:10px;width:30px;height:30px}
.footer .top .sear .lnk a:hover{background-position:left bottom}
.footer .top .sear .lnk a.s1{background-image:url(../images/weibo.gif)}
.footer .top .sear .lnk a.s2{background-image:url(../images/email.gif)}
.footer .top .sear .lnk a.s3{background-image:url(../images/rss.gif)}
.footer .top .sear .sel{margin:20px 0 10px 0}
.footer .top .sear .sel select{border:solid 1px #ddd}
.footer .top .sear .box{border:solid 1px #ddd}
.footer .top .sear .box input{height:28px;vertical-align:middle;border:none}
.footer .top .sear .box .int{padding-left:2px;width:180px;line-height:28px}
.footer .top .sear .box .btn{width:28px;cursor:pointer;background:#fff url(../images/icon.png) no-repeat 0 -70px}
.footer .bot{padding:13px 0;height:14px;line-height:14px;color:#fff}
.footer .bot a{padding:0 10px;color:#fff;border-left:solid 1px #7ac}
.footer .bot a.first{border:none}

/* ---------- Main ---------- */
/* 名站推荐 */
.colT .hd{height:43px;background:#f9f9f8}
.colT .hd b{display:block;padding-left:180px;line-height:43px;text-align:left;font-size:18px}
.colT .hd .fr{margin:12px 15px 0 0}
.colT .bd ul{margin-left:160px;height:287px}
.colT .bd li{float:left;width:33%;height:130px;text-align:left}
.colT .bd li p{float:left;width:120px;height:54px;overflow:hidden;color:#666}
.colT .bd li h4{float:left;padding-top:20px;width:120px;height:20px;font-weight:bold}
.colT .bd li h4 a{color:#1b6d9d}
.colT .bd li h4 a:hover{color:#2284E2}
.colT .bd li img{float:left;margin:20px 10px 0 24px;width:110px;height:88px;border:solid 1px #ccc}
.colT .bd li.s1 p{padding-left:24px}
.colT .bd li.s1 h4{padding-left:24px}
.colT .bd li.s1 img{float:right;margin:20px 10px 0 0}

/**首页列表**/
.colA{float:left;margin:-1px 0 0 -1px;width:249px;text-align:left;border:solid 1px #ddd}
.colA .hd h2{padding:15px 12px 12px 9px;font-size:14px}
.colA .hd h2 a{color:#1b6d9d}
.colA .hd .more{display:none;float:right}
.colA .bd ul{padding:0 12px 9px 9px}
.colA .bd li{height:29px;line-height:29px;border-top:1px dotted #b4b4b4;overflow:hidden;zoom:1}
.colA .bd li.s1{font-weight:bold;border:0}
.colA .bd li.s2,
.colA .bd li.s3{font-weight:bold}
.colA .bd li.s2 .num{background-position:-13px 0}
.colA .bd li.s3 .num{background-position:-26px 0}
.colA .bd li.s4 .num{background-position:-39px 0}
.colA .bd li.s5 .num{background-position:-52px 0}
.colA .bd li.s6 .num{background-position:-65px 0}
.colA .bd li.s7 .num{background-position:-78px 0}
.colA .bd li.s8 .num{background-position:-91px 0}
.colA .bd li.s9 .num{background-position:-104px 0}
.colA .bd li.s10 .num{background-position:-117px 0}


/* 排行榜单 */
.colB{margin-left:160px}
.colB .hd li{padding:0 10px 0 20px;height:40px;line-height:40px;vertical-align:middle;color:#1b6d9d;background:#f9f9f8}
.colB .bd li{position:relative;margin:0 10px 0 20px;height:70px;line-height:70px;border-bottom:1px solid #f2f2f2;vertical-align:middle;font-size:14px;color:#434445}
.colB i{display:inline-block;width:8px;height:9px;overflow:hidden;background:url(../images/icon.png) no-repeat}
.colB i.arr_up{background-position:0 -35px}
.colB i.arr_down{background-position:-8px -35px}
.colB i.arr_cross{background-position:0 -45px}
.colB li span{float:left;display:inline-block;vertical-align:middle;font-family:Arial}

.colB li .s0{width:70px}
.colB li .s1{width:320px;text-align:left}
.colB li .s1 a{float:left;display:inline-block;height:70px;line-height:70px;color:#1c5aa6}
.colB li .s2{width:70px;text-align:right;margin-right:25px}
.colB li .s3{width:80px}
.colB li .s3 img{display:block;height:17px;width:38px;margin:26px auto 0px;padding-left:4px;vertical-align:middle}
.colB li .s4{width:80px}
.colB li .s5{width:70px}
.colB li .s5 i{margin:30px auto 0}
.colB li div{display:none}
.colB li.on div{display:block;position:absolute;z-index:9;left:20px;top:66px;padding:12px 20px;width:750px;height:92px;text-align:left;font-size:12px;background:#f0f0f0}
.colB li.on div img{float:left;margin:0 20px 0 0;border:solid 1px #666}
.colB li.on div p{padding-top:3px}
.colB li.on div a{color:#1c5aa6}
.colB li.on div i{position:absolute;left:66px;top:-6px;width:11px;background-position:-55px -45px}

.colC{text-align:left;border-top:solid 2px #0090c6}
.colC .hd{border-left:solid 1px #ddd;border-right:solid 1px #ddd}
.colC .hd b{display:block;padding:12px 12px 12px 9px;font-size:14px}
.colC .hd .fr{margin:15px 13px 0 0;padding-left:15px;color:#666;background:url(../images/icon.png) no-repeat -30px -74px}
.colC .hd .more{float:right;margin:14px 12px 0 0;color:#999}
.colC .hd .more:hover{color:#2284E2}
.colC .bd{border:solid 1px #ddd;border-top:none}
.colC .bd ul{padding:0 12px 9px 9px}
.colC .bd ul.four{padding:0 0 9px 9px}
.colC .bd li{padding-top:0;padding-bottom:0px;height:29px;*height:24px;line-height:29px;*line-height:24px;overflow:hidden;border:0;border-top:1px dotted #b4b4b4}
.colC .bd li em{float:right;font-size:10px;color:#999}
.colC .bd li a{color:#1b6d9d}
.colC .bd li a:hover{color:#3098d2;}

.four li{float:left;margin-right:2%;width:23%;}

.ranklist .num{float:left;width:13px;height:11px;text-indent:-99px;overflow:hidden;margin:8px 10px 0 0;background:url(../images/number.gif) no-repeat}
.ranklist .up,.ranklist .down{float:right;width:8px;height:9px;text-indent:-99px;overflow:hidden;margin:9px 4px 0;background:url(../images/icon.png) no-repeat 0 -35px}
.ranklist .date{float:right;width:66px;text-align:right}
.ranklist .down{background-position:-8px -35px}
.ranklist .same{float:right;width:11px;color:#00EC00}

.newslist{width:730px}
.newslist .hd{overflow:hidden;background:url(../images/bg_2.png) repeat-x}
.newslist .hd h3{float:left;padding:12px 0 6px 0;font-size:18px;border-top:solid 2px #0090c6}
.newslist .hd .more{float:right;padding:15px 6px 0 0}
.newslist .bd li{clear:both;padding:10px 0;overflow:hidden;zoom:1}
.newslist figure{float:left;display:block;width:99px;height:88px;margin-right:9px}
.newslist figure img{padding:3px;background:#fff;border:1px solid #dcdcdc;margin-right:0px}
.newslist .info{float:left;padding:5px 15px 10px;width:592px;height:82px;text-align:left;background:url(../images/bg_new.png) no-repeat;}
.newslist .info h3{padding:0px;border:0px;margin:0px}
.newslist .info h3 a{font-size:14px;color:#1b6d9d}
.newslist .info h3 a:hover{color:#2284E2}
.newslist .info h3 span{font-weight:lighter;margin-left:15px;font-size:12px;color:#999}
.newslist .info .score span{margin-right:15px;color:#666}
.newslist .info .desc{margin-top:6px;height:36px;line-height:18px;overflow:hidden}
.newslist .result{ margin:8px 0 212px;padding:8px;text-align:left;border:dotted 1px #ddd}
.newslist .result a{font-size:16px;color:#1b6d9d;text-decoration:underline}
.newslist .result a:hover{color:#2284E2}
.newslist .result span {display:block;margin-top:5px;font-size:14px;color:#666}

.itemlist .hd{height:32px;background:url(../images/bg_2.png) repeat-x left bottom}
.itemlist .hd h1{float:left;padding:3px 0 9px 0;font-size:18px;border-bottom:solid 2px #0090c6}
.itemlist .hd ul{float:right;height:32px;overflow:hidden}
.itemlist .hd li{float:left;padding:2px}
.itemlist .hd li a{float:left;padding:5px 7px 7px 7px}
.itemlist .hd li a:hover{color:#1b6d9d}
.itemlist .hd li.on{background:#ccc}
.itemlist .hd li.on a{color:#1b6d9d;background:#fff}
.itemlist .bd li{clear:both;padding:10px 0;border-bottom:1px dotted #c8c8c8;overflow:hidden;zoom:1}
.itemlist figure{float:left;display:block;width:119px;height:98px;margin-right:8px}
.itemlist figure a img{padding:3px;margin-right:0px;background:#fff;border:1px solid #dcdcdc}
.itemlist figure a:hover img{ border-color:#3098d2}

.itemlist .info{float:left;width:488px;text-align:left}
.itemlist .info h3{padding:0px;background:#fff;border:0px;margin:0px}
.itemlist .info h3 a{font-size:14px;color:#1b6d9d}
.itemlist .info h3 a:hover{color:#2284E2}
.itemlist .info h3 span{font-weight:lighter;margin-left:15px;font-size:13px;color:#999}
.itemlist .info .score span{margin-right:15px;color:#888}
.itemlist .info .desc{margin-top:6px;height:54px;line-height:18px;overflow:hidden;color:#666}

.itemlist .rank{float:left;margin:14px 0 0 9px;color:#555}
.itemlist .rank div{margin-bottom:5px;width:80px;height:50px;line-height:50px;font-size:30px;font-family:Times, serif;color:#fff;background:#d5d5d5}
.itemlist .rank div.s0{border-radius:5px}
.itemlist .rank div.s1{background:url(../images/icon.png) no-repeat 0 -98px}
.itemlist .rank div.s2{background:url(../images/icon.png) no-repeat 0 -149px}
.itemlist .rank div.s3{background:url(../images/icon.png) no-repeat 0 -200px}

.content h2 {padding-top:10px;font-weight:bold}
.content h3 {display:inline-block;margin-top:10px;font-weight:bold;color:#fff;background:#0090c6}

.tables{color:#333;border:solid 1px #ddd}
.tables td{padding:4px 4px 4px 8px;font-size:14px}
.tables td a{cursor:pointer;color:#1b6d9d}
.tables td a p{padding-top:3px;color:#555}/*相关网站*/
.tables td a:hover p{color:#2284E2}
.tables td p{padding-top:10px}
.tables strong{font-weight:bold}
.tips{padding:70px 0 99px;font-size:30px}
.tips a{color:#2284E2}
.key{border:solid 1px #ddd;background:url(../images/bg_key.png) no-repeat}
.key td{padding:0 4px 0 8px;line-height:28px;font-size:14px}
.rak{ position:relative;padding:4px 0 4px 8px;border:solid 1px #0090c6}
.rak .fr{width:280px}
.rak .fr .hd{margin-right:8px;padding:8px 0 10px 4px;text-align:left;border-bottom:solid 1px #aad5e5}
.rak .fr .hd b{font-weight:bold}
.rak .fr .bd li{width:268px;height:28px;line-height:28px;text-align:left;overflow:hidden}
.rak .fr .bd li a{padding:0 2px;font-size:14px;color:#1b6d9d}
.rak .fr .bd li a:hover{color:#2284E2}
.rak .fr .bd li.on a{color:#fff;background:#2284E2}
.rak .fl{ padding-right:8px;width:428px;border-right:solid 1px #aad5e5}
.rak .fl .hd{padding:8px 0 10px 0;font-weight:bold;font-size:16px;color:#1b6d9d}
.rak .fl .bd td { font-size:16px;border-top:solid 1px #aad5e5}
.rak .fl .bd td.data{border-left:solid 1px #aad5e5}
.rak .fl .bd b{ font-weight:bold}
.rak .fl .bd s{display:block;position:absolute;top:23px;left:12px;width:0;height:0;line-height:0;font-size:0;border-color:#e2d28a transparent transparent transparent;border-style:solid dashed dashed dashed;border-width:6px}
.rak .fl .bd i{display:block;position:absolute;top:-7px;left:-6px;width:0;height:0;line-height:0;font-size:0;border-color:#FFFBE2 transparent transparent transparent;border-style:solid dashed dashed dashed;border-width:6px}
.rak .fl .bd .s0 { height:45px;line-height:45px}
.rak .fl .bd .s0 span { font-size:14px}
.rak .fl .bd .s1 { height:55px;line-height:55px}
.rak .fl .bd .s2 { height:55px;line-height:55px}
.rak .fl .bd .s3 { display:none;position:absolute;left:30px;top:75px;padding:2px 5px;font-size:14px;color:#302D1C;border:1px solid #e2d28a;border-radius:3px;background:#FFFBE2}
.rak .fl .bd .s4 { display:none;position:absolute;left:30px;top:135px;padding:2px 5px;font-size:14px;color:#302D1C;border:1px solid #e2d28a;border-radius:3px;background:#FFFBE2}
.rak .fl .bd .s5 { padding-top:5px;color:#777;border-top:solid 1px #aad5e5}
.rak .fl .bd .s5 img { vertical-align:middle}
.rak .fl .bd .s5 font{ padding-left:18px;width:70px;font-style:normal;background:url(../images/ico_mod.png) no-repeat 0 2px}
.rak .fl .bd .s5 span{display:inline-block;margin:0 2px 0 0;padding:0 2px;height:12px;line-height:1}
.rak .fl .bd .s5 span.data{color:#fff;background-color:#9d9d9d}
.rak .red { float:right;padding-right:10px;color:red}
.rak .blue { float:right;padding-right:10px;color:#1b6d9d}
.rak .up,.rak .down{float:right;width:8px;height:9px;text-indent:-99px;overflow:hidden;margin:24px 4px 0;background:url(../images/icon.png) no-repeat 0 -35px}
.rak .down{background-position:-8px -35px}
.rak .same{float:right;padding-right:20px;color:#8ce573}

.faq{text-align:left;white-space:normal;border-top:solid 2px #0090c6;background-color:#fcfcfc}
.faq .hd h3{padding:16px 0 8px 24px;font-size:16px;font-weight:bold;color:#1b6d9d;border-left:1px solid #ddd;border-right:1px solid #ddd}
.faq .bd{padding:8px 24px;font-size:14px;color:#555;border:solid 1px #ddd;border-top:none}
.faq .bd h4{padding:8px 0;font-size:14px;font-weight:bold;border-top:solid 1px #e5e5e5}
.faq .bd li{height:36px}
.faq .bd li .int{width:200px;height:24px;vertical-align:middle;border:solid 1px #ddd}
.faq .bd li .btn{ padding:5px 10px}
.faq .bd p{padding-bottom:8px}
.faq .bd a{color:#3098d2}
.bgEEE{background:#eee}

/* 合作媒体 */
.links p{position:relative;height:36px;text-align:left;border-bottom:solid 2px #ccc}
.links p b{position:absolute;bottom:-2px;display:inline-block;height:36px;line-height:36px;font-size:18px;font-weight:normal;border-bottom:solid 2px #0090c6}
.links p span { position:absolute;top:12px;right:4px;color:#888}
.links li{display:inline;float:left;margin-top:12px;margin-right:12px;text-align:left}
.links .fl{width:675px}
.links .fr{width:295px}

/**页面通用**/
#goTop{position:absolute;display:none;width:50px;height:48px;background:#fff url(../images/top.png) no-repeat 16px 15px;border:solid 1px #f9f9f8;border-radius:6px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);cursor:pointer}
#goTop:hover{height:50px;background-position:16px 16px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3)}
